@model Turnos.Models.Medico

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="col s12">
            <div asp-validation-summary="ModelOnly"></div>

                  <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">check_circle</i>
                        <input placeholder="Matricula" type="text" class="validate" asp-for="Matricula">
                        <label asp-for="Matricula"></label>
                        <span asp-validation-for="Matricula"></span>
                    </div>
                </div>
                

                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Nombre" type="text" class="validate" asp-for="Nombre">
                        <label asp-for="Nombre"></label>
                        <span asp-validation-for="Nombre"></span>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Apellido" type="text" class="validate" asp-for="Apellido">
                        <label asp-for="Apellido"></label>
                        <span asp-validation-for="Apellido"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">home</i>
                        <input placeholder="Direccion" type="text" class="validate" asp-for="Direccion">
                        <label asp-for="Direccion"></label>
                        <span asp-validation-for="Direccion"></span>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">location_city</i>
                        <input placeholder="Localidad" type="text" class="validate" asp-for="Localidad">
                        <label asp-for="Localidad"></label>
                        <span asp-validation-for="Localidad"></span>
                    </div>
                </div>

               <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">local_phone</i>
                        <input placeholder="Telefono" type="text" class="validate" asp-for="Telefono">
                        <label asp-for="Telefono"></label>
                        <span asp-validation-for="Telefono"></span>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input placeholder="Email" type="text" class="validate" asp-for="Email">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">schedule</i>
                        <input placeholder="Click para seleccionar horario" type="text" class="timepicker" asp-for="HorarioEntrada">
                        <label asp-for="HorarioEntrada"></label>
                        <span asp-validation-for="HorarioEntrada"></span>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">schedule</i>
                        <input placeholder="Click para seleccionar horario" type="text" class="timepicker" asp-for="HorarioSalida">
                        <label asp-for="HorarioSalida"></label>
                        <span asp-validation-for="HorarioSalida"></span>
                    </div>
                </div>
                                <input type="hidden" asp-for="IdMedico" />

                <div class="row">
                     <div class="input-field col s12 m6">
                        <i class="material-icons prefix">local_hospital</i>
                        <select name="IdEspecialidad" asp-items="ViewBag.ListaEspecialidades"></select>
                     </div>
                </div>
                <div class="row center">
                    <div class="col s6">
                        <button class="btn-large waves-effect waves-light green accent-4" type="submit" name="action">Grabar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn-large red" asp-action="Index">
                            <i class="material-icons prefix">undo</i>Volver
                        </a>
                    </div>  
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
