@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    </li>
    <li style="margin-right: 10px;">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn waves-effect waves-light red darken-2">Cerrar Sesión</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Ingresar</a>
    </li>
}
</ul>
