@model Turnos.Models.Especialidad

<h3>
    ¿Esta seguro que desea eliminar la especialidad?
</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEspecialidad" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>

    <div>
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
</div>