@{
    ViewData["Title"] = "Importar";
}

<h4>Importacion exitosa</h4>
<p>Se importaron @ViewBag.cantReng</p>

<a asp-controller="Paciente" asp-action="Index" class="btn btn-blue">Volver a la lista de pacientes</a>
